//Make standard reset and include fons
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif;
//Make variable
$colorBlack: #000000
$colorGrey: #9a9a9a
$colorOranje: #ff8b38
$colorGreyBold: #333333
$colorWhite: #ffffff


//Make block nav

.nav
    background: $colorBlack
    .wrapper
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 100px
        padding: 20px 0px
        .menu
            list-style: none
            display: flex

            .menu_item
                margin-left: 40px
                a
                    text-decoration: none
                    color: $colorGrey
.header
    background: url(../Photo/OriginBG.jpg)
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    min-height: 900px 

.header_big_block
    display: flex
    justify-content: space-around
    margin-top: 50px

    
    

.title
    color: $colorWhite
    font-size: 60px
    span
        color: $colorOranje

.subtitle
    color: $colorWhite
    text-transform: uppercase
    margin-top: 15px

.line
    display: inline-block
    min-width: 60px
    min-height: 3px
    background: $colorWhite
    margin-top: 20px


.block_desk
    color: $colorGrey
    font-size: 20px 
    margin-top: 20px


.btn
    
     display: inline-block
     width: 200px
     padding: 8px
     color: $colorWhite
     border: 2px solid $colorWhite
     text-align: center
     //outline: none
     text-decoration: none
     margin-top: 30px
     transition: .5s all
     &:hover
         border: 2px solid $colorOranje
         transition: .5s ease all
         color: $colorOranje
        
       
         
        
         

.blockTrial
    display: inline-block
    min-width: 300px
    height: 100% 
    background: $colorWhite  
    border: 2px solid $colorWhite
    margin-top: 50px
    padding-top: 20px
    .titleTrial
        color: $colorBlack
        font-weight: bold
        width: 100%
        font-size: 20px
        background: #f5f5f5
        margin-bottom: 30px
        text-align: center
        
        

        span
            color: $colorOranje
    input
        display: block
        border: none
        border-bottom: 1px solid $colorGrey
        color: $colorGrey
        margin: 25px 20px
        padding: 10px  
     


.Get
    width: 100%
    color: $colorWhite
    background: $colorOranje
    border: 2px solid $colorOranje
    padding: 10px

.container_social
    display: flex
    font-weight: bold
    justify-content: space-around
    color: $colorGreyBold
    font-size: 25px
    padding: 40px 0px
    
    border-bottom: 2px solid $colorGrey
    .block_socialIcons
        display: flex
        align-items: center
        
        .img
            margin-left: 30px

.socialSubtitle
    color: $colorGrey
    font-size: 20px
    margin-top: 15px

.City
    background: #eeebeb
    padding-top: 150px
    padding-bottom: 115px

    .container
        display: flex
        justify-content: center
        align-items: center


.tab_1, .tab_2, .tab_3
    display: block
    padding: 40px
    margin-top: 5px
    color: $colorWhite
    text-transform: uppercase
    
    cursor: pointer
    margin-right: 100px
    
    
.tab_1
    background: $colorGreyBold
    border: 2px solid $colorGreyBold
    &:hover
        transition: all .5s ease
        background: $colorOranje
        border: 2px solid $colorOranje


.tab_2
    background: $colorGreyBold
    border: 2px solid $colorGreyBold
    &:hover
        transition: all .5s ease
        background: $colorOranje
        border: 2px solid $colorOranje

.tab_3
    background: $colorGreyBold
    border: 2px solid $colorGreyBold
    &:hover
        transition: all .5s ease
        background: $colorOranje
        border: 2px solid $colorOranje
.City_text
    margin-right: 100px

.City_title
    font-size: 25px
    font-weight: bold

.City_desc
    margin-top: 30px
    p
        color: $colorGrey
        margin-top: 20px
        font-size: 18px

.City_button
    margin-top: 47px
    .btn_city
        padding: 10px 30px
        font-size: 1em
        background: $colorOranje
        border-radius: 5px
        border: 2px solid $colorOranje
        color: $colorWhite

   
.subList
    margin: 40px 0px
.line2
    background: $colorOranje
    display: inline-block
    min-width: 80px
    min-height: 3px
    margin-bottom: 20px
    


.CityUp
  max-width: 700px
  max-height:  400px
.subPhoto
    margin-right: 180px

.container_sub
    display: flex
    justify-content: center

.Subtext_title
    font-size: 30px
    font-weight: bold
    margin: 20px 0
    
    
.subtitle_Sub
    font-size: 18px
    color: $colorGrey
    margin-bottom: 40px

.Download_icon
    border: 2px solid $colorOranje
    border-radius: 50%
    padding: 10px 

.title_card
    font-size: 20px
    font-weight: bold
    margin-bottom: 10px


.subtitle_card
    color: $colorGrey
    font-size: 18px
    line-height: 25px

.block_with_cart
    display: flex
   
    margin-top: 20px
    .Download_up
        margin-right: 20px
    .Download_down
        margin-right: 20px

.standart
    background: #eeebeb
    padding-bottom: 100px 
    .container
        display: flex
        justify-content: center
        
        .block_textbox2
            margin-right: 170px
        .photo_NY
            margin-top: 70px

    
    

    .NY
        max-width: 700px
        max-height:  400px

.title_standart
    font-size: 30px
    font-weight: bold
    padding-top: 120px
    margin-bottom: 30px

.block_description
    font-size: 20px
    color: $colorGrey
    p
        margin-bottom: 20px

.ourProces
    padding: 100px 0px
    .container
        

        .upBlock
            text-align: center

            .ourTitle
                text-transform: uppercase
                font-size: 30px
                font-weight: bold
                margin-bottom: 30px
            .ourSubtitle
                font-size: 18px
                color: $colorGrey
        .blockProces
            margin-top: 60px
            display: flex
            align-items: center
            text-align: center
            justify-content: space-evenly
            
            .Design_icon
                border: 2px solid $colorOranje
                border-radius: 50%
                padding: 20px 25px
            .Well_icon
                border: 2px solid $colorOranje
                border-radius: 50%
                padding: 20px 15px
            .Easy_icon
                border: 2px solid $colorOranje
                border-radius: 50%
                padding: 20px 25px


            .ourProduct1_title
                font-size: 25px
                font-weight: bold
                margin: 20px 0px
            .ourProduct1_Subtitle
                font-size: 18px
                color: $colorGrey

.wraper_block_price
    display: flex
    justify-content: center
    align-items: center
.pricingOptions
    background: #eeebeb
    padding: 100px 0px
    
.pricing_block_cart
    margin: 100px
.prising_text
    text-align: center
    .pricing_title
        text-transform: uppercase
        font-size: 30px
        font-weight: bold
        margin-bottom: 20px
    .pricing_subtitle
        font-size: 20px
        color: $colorGrey
.block_oranje_Text
    background: $colorOranje
    padding: 20px
    text-transform: uppercase
    color: $colorWhite
    font-size: 15px
    font-weight: bold
    

.basic_block
    background: $colorGreyBold
   
    .basic_title
        padding: 20px 
        font-size: 30px
        font-weight: bold
        color: $colorWhite
    .basic_price
        padding: 30px 80px
        font-size: 60px
        color: $colorWhite
        font-weight: bold
    .basic_ghost
        padding-bottom: 10px
        border-bottom: 10px solid $colorOranje

    .basic_ghost_2
        margin: 20px

.cart_basic
   
    display: inline-block
    color: $colorGrey
    text-align: center


.block_pricing_desk
    text-transform: uppercase
    line-height: 40px


.customers
    padding: 100px 0px
    .customers_text
        text-align: center
        .customers_title
            text-transform: uppercase
            margin-bottom: 20px
            font-size: 30px
            font-weight: bold
        .customers_subtitle
            font-size: 17px
            color: $colorGrey

.customere_carts
    display: flex
    align-items: center
    justify-content: space-evenly
    color: $colorGrey
    padding: 40px
    .block_cart
        background: #eeebeb
        padding: 30px
.photo
    background: $colorGrey
    border: 2px solid $colorGrey
    padding: 40px
    border-radius: 50%

.block_persone
    display: flex
    justify-content: space-evenly
    

    .person
        display: flex
        align-items: center
      
        
        .photo
            margin-right:  20px
        
    .name
        font-size: 25px
        font-weight: bold
    .dolg
        font-weight: bold
        color: $colorGrey

        
.persone_contante
    display: block

.AXURE
    margin: 100px 0px 0px 0px
    background: url(../photo/oranje.jpg)
    background-repeat: no-repeat
    background-size: cover 
    padding: 100px

    .container
        text-align: center
        .wraper_text
            color: $colorWhite
            .title_wraper
                text-transform: uppercase
                font-size: 50px
                font-weight: bold
                margin-bottom: 20px
            .linee
                background: $colorWhite
                padding: 2px 50px
                display: inline-block
                margin-bottom: 20px
            .subtitle_wraper
                font-size: 20px
                color: $colorGreyBold
                font-weight: bold
        .block_st
            margin-top: 30px
            .btn_download
                padding: 7px 20px
                border: 2px solid $colorWhite
                font-size: 20px
                color: $colorWhite
                text-decoration: none

.contact
    padding: 100px 0px  
    background: url(../photo/kristaps-ungurs-3PdvcqJGf3g-unsplash.jpg)   
    background-repeat: no-repeat
    background-size: cover           
    .contact_text
        text-align: center
        .contact_title
            text-transform: uppercase
            font-size: 30px
            font-weight: bold
            color: $colorWhite
        .line21
            background: $colorWhite
            padding: 3px 50px
            display: inline-block
        .line2
            margin-top: 20px
        .contact_subtitle
            color: $colorWhite
            font-size: 20px
            
    .contact_field
        margin: 60px 50px
        display: flex
        justify-content: center
        align-items: center
       
       

    
    input
        border: none
        border-bottom: 2px solid $colorWhite
        font-size: 18px
        margin-top: 20px
        background: none
        color: $colorWhite

    .field_item1
        display: block
        padding-top: 20px
        margin-right: 100px
        

    .field_item2
        margin: 100px 100px 
       
    textarea
        background: none
        border: none
        border-bottom: 2px solid $colorWhite
        color: $colorWhite
        font-size: 20px
.contact_btn
    text-align: center
    .btn_contact
        padding: 7px 30px
        background: $colorOranje
        color: $colorWhite
        font-size: 20px
        border: 2px solid $colorOranje
        border-radius: 5px

footer
    background: $colorGrey
    background-size: cover
    background-repeat: no-repeat
    padding: 40px 0px
.container
    text-align: center
.Footer_link
    display: flex
    align-items: center
    justify-content: center
    padding: 30px 0px
    .img
        margin-right: 40px
.footer_text
    font-size: 20px

   
      
        

        
        
               

